* {
box-sizing: border-box;
}
  
body {
    color: #fff;
    padding-bottom: -10px;
}

.lot-container {
    margin: 20px 0;
    display:flex;
    justify-content: center;
}

.lot-container select {
    background-color: #fff;
    color: #242333;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.ParkingSpace {
    background-color: #444451;
    height: 50px;
    width: 34px;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ParkingSpace.Reserved {
    background-color: #6feaf6;
}

.ParkingSpace.Occupied {
    background-color: #fff;
}

.ParkingSpace.selected {
    background-color: greenyellow;
}

.selected {
    background-color: #444451;
    height: 50px;
    width: 34px;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: greenyellow;
}

/* .ParkingSpace:nth-of-type(5) {
    margin-right: 18px;
}

.ParkingSpace:nth-last-of-type(5) {
    margin-left: 18px;
} */

.ParkingSpace:not(.Occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .ParkingSpace:not(.Occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display:flex;
    justify-content: center;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
    margin:10px;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
}

p.text {
  margin: 5px 0;
}
    
p.text span {
  color: #6feaf6;
}

.button{
    display:flex;
    justify-content: center;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #45a049;
}      